


{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="container pt-5 pb-5" style="min-height: 82.5vh;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 m-auto">
                <h6 class=""><i class="fa fa-info-circle text-primary"></i>Пожалуйста, введите логин учетной записи,
                    чтобы
                    получить свой пароль.</h6>
                <form class="pt-3 pl-5 pr-5" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="GET" value="email" name="email"></input>
                    <button type="submit" class="btn bgRed text-dark font-weight-bold">Oтправить</button>
                    
                </form>
            </div>
        </div>

    </section>
{% endblock %}